.item:nth-child(even) {
  transform: scaleX(1.31) rotateY(40deg);
}

.item:nth-child(odd) {
  transform: scaleX(1.31) rotateY(-40deg);
}

.pers {
  perspective: 500px;
}

.active {
  /* background: rgba(255, 255, 255, 0.3); */
  background-color: aqua;
  cursor: grabbing;
  cursor: --webkit-grabbing;
  transform: scale(1);
}
